.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}

.primary-card {
  height: 100%;
  background-color: #f2f2f2;
}

.primary-text-color {
  color: #333;
}

.secondary-text-color {
  display: none; // TODO: Workaround until finish screen
  color: rgb(70, 69, 69);
}

.center-items {
  text-align: center;
}

.secondary-card {
  background-color: #b0ccb265;
}

img {
  display: none; // TODO: Workaround until finish screen
  height: auto;
  width: 100%;
  border-radius: 1.5rem;
}

.content[_ngcontent-bef-c1] {
  position: absolute;
}

// TODO: Workaround until finish screen
.secondary-card .mat-card-header .mat-card-title {
  margin: 0;
}

::ng-deep {
  .mat-card-content {
    overflow: hidden;
  }
}
