@import "../../../../styles/app-styles-support.scss";

.header-information {
  margin: 10px 0 20px 0;
}

.options-container {
  display: flex;
  flex-flow: row wrap;
}

.option {
  flex: 50%;
  max-width: 50%;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 15px;

  @media (max-width: 800px) {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }

  .card {
    height: 100%;

    &.disabled {
      background: $gray-lighter-color;

      .title,
      .description {
        color: $gray-darker-color;
      }

      .image {
        opacity: 0.8;
      }
    }

    &.with-ingredients {
      padding-bottom: 15px;
    }

    .selector {
      float: right;
    }

    .title {
      margin: 2px 0 0;
      padding-right: 50px;
      font-weight: normal;
      color: $primary-color;
    }

    .image {
      float: left;
      display: block;
      width: 50px;
      height: 50px;
      background: $accent-lighter-color;
      margin: 8px 10px 15px 0;
    }

    .description {
      margin-top: 13px;
      font-size: 12px;
    }
  }

}

.mat-expansion-panel {
  background: transparent;

  &-header {
    width: 105px;
    background: transparent !important;
  }
}

::ng-deep {
  .mat-expansion-indicator::after {
    vertical-align: 2px !important;
  }

  .mat-expansion-panel-header {
    padding: 0 !important;
    margin-top: 5px;
    font-size: 14px;

    .disabled & {
      .mat-expansion-panel-header-title {
        color: $gray-darker-color;
      }
    }
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
    font-size: 13px;
    line-height: 17px;

    .disabled & {
      color: $gray-darker-color;
    }
  }
}

