<h3 class="choice-page-title">
  {{ !modelId ? 'Nova Mesa' : 'Edição Mesa' }}
  <a class="choice-sm-button" color="accent" mat-button disableRipple="true" routerLink="/admin/tables">
    <mat-icon>undo</mat-icon> Voltar
  </a>
</h3>

<div class="choice-form-container" [formGroup]="formGroup">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-6">
        <mat-form-field>
          <input class="choice-default-input" matInput type="text" formControlName="name" required />
          <mat-label>Nome</mat-label>
          <mat-error>Nome é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="modelId" class="row">
      <div class="col col-md-2">
        <img [src]="imgQrCode">
      </div>
      <div class="col col-md-1" style="margin-top: 10em;">
          <button matButton type="button" mat-raised-button color="primary">Imprimir</button>
      </div>
    </div>

    <div class="choice-active-field">
      <mat-checkbox formControlName="active">Ativo</mat-checkbox>
    </div>

    <div class="choice-form-actions">
      <button matButton type="button" mat-raised-button color="primary" (click)="onSave()">Salvar</button>
      <button matButton type="button" mat-raised-button color="primary" (click)="onSave(true)">Salvar e Fechar</button>
      <button matButton type="button" mat-raised-button color="basic" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
