<mat-nav-list class="menu">
  <mat-list-item class="menu-item" routerLink="/admin/home" routerLinkActive="active">
    <div class="item-content">
      <mat-icon color="primary">dashboard</mat-icon>
      <span>Início</span>
    </div>
  </mat-list-item>

  <mat-list-item
    class="menu-item"
    routerLink="/admin/activities"
    routerLinkActive="active"
  >
    <div class="item-content">
      <mat-icon color="primary">menu_book</mat-icon>
      <span>Serviços</span>
    </div>
  </mat-list-item>

  <mat-list-item
    class="menu-item"
    routerLink="/admin/cases"
    routerLinkActive="active"
  >
    <div class="item-content">
      <mat-icon color="primary">local_pizza</mat-icon>
      <span>Pizzas</span>
    </div>
  </mat-list-item>

  <mat-list-item
    class="menu-item"
    routerLink="/admin/scripts"
    routerLinkActive="active"
  >
    <div class="item-content">
      <mat-icon color="primary">view_carousel</mat-icon>
      <span>Mesas</span>
    </div>
  </mat-list-item>
</mat-nav-list>
